<div class="container">
  <div class="row">
    <div class="col season">
      <ng-template [ngIf]="seasonsdetail.season?.length">
      <h4>Seasons</h4>

    </ng-template>
    </div>
  </div>
</div>
<div class="container">
  <div class="row ">

    <ng-template [ngIf]="seasonsdetail.season?.length">
      <ng-container *ngFor = "let seasons of seasonsdetail.season">

        <ng-container>
          <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="card" data-id='' >
                <a [routerLink] = "['/show/:id',seasons.id]"><img class="card-img img-fluid " [src]='seasons.image?seasons.image.medium:"assets/img/blackimages.png"'
                  alt="Seasons" ></a>
            </div>
            <h4 class="card-title">

            </h4>
          </div>
        </ng-container>

      </ng-container>
    </ng-template>

  </div>
</div>


<!--<div class="container">
  <div class="row">

    <ng-template [ngIf]="seasonsdetail.season?.length">
      <ng-container *ngFor="let seasons of seasonsdetail.season">

        <ng-container *ngIf="seasons.image?.medium; else elseTemplate">
          <div class="col-sm-2 col-md-3 col-lg-3">
            <div class="card" data-id=''>
              <a href=''><img class="card-img img-fluid " [src]='seasons.image.medium' alt="Seasons"></a>
            </div>
            <h4 class="card-title">
              {{seasons.number}}
            </h4>
          </div>
        </ng-container>

        <ng-template #elseTemplate>
          <ng-container>
            <div class="col-sm-2 col-md-3 col-lg-3">
              <div class="card" data-id=''>
                <a href=''><img class="card-img img-fluid " src="assets/img/noimage.png" alt="Seasons"></a>
              </div>
              <h4 class="card-title">
                {{seasons.number}}
              </h4>
            </div>
          </ng-container>
        </ng-template>

      </ng-container>
    </ng-template>
  </div>
</div>-->





