<div class="container">
  <div class="row ">
    <div class="col-sm-2 col-md-2 col-lg-2">
          <div class="card" data-id=''>
              <a href= ''><img class="card-img img-fluid " src="assets/img/season.jpg" alt="Seasons"></a>

          </div>
    </div>


    <div class="col-sm-2 col-md-2 col-lg-2">
      <div class="card" data-id=''>
          <a href= ''><img class="card-img-top img-fluid " src="assets/img/season2.jpg" alt="Seasons"></a>

      </div>
  </div>

  <div class="col-sm-2 col-md-2 col-lg-2">
    <div class="card" data-id=''>
        <a href= ''><img class="card-img-top img-fluid " src="assets/img/season3.jpg" alt="Seasons"></a>

    </div>
  </div>

  <div class="col-sm-2 col-md-2 col-lg-2">
    <div class="card" data-id=''>
        <a href= ''><img class="card-img-top img-fluid " src="assets/img/season.jpg" alt="Seasons"></a>

    </div>
  </div>

  <div class="col-sm-2 col-md-2 col-lg-2">
    <div class="card" data-id=''>
        <a href= ''><img class="card-img-top img-fluid " src="assets/img/season2.jpg" alt="Seasons"></a>

    </div>
  </div>

  <div class="col-sm-2 col-md-2 col-lg-2">
    <div class="card" data-id=''>
        <a href= ''><img class="card-img-top img-fluid " src="assets/img/season3.jpg" alt="Seasons"></a>

    </div>
  </div>
  </div>
  </div>



