.card {
  border:none;
  margin-top :20px;
  margin-right: -20px;
  margin-bottom: 20px;
}

.card-title{
  color:gray
}

.season{
  color:gray;
  font-family:"Roboto"
}

.card-img {
  width: auto;
  height:auto
}
