

<div class="container">
  <div [class]="'row rowcontent'">
    <div class="col-6">
      <div class="card" data-id='' >
        <a [routerLink] = "['/show',current.id]"><img class="card-img img-fluid " [src]='current.image'
          alt="Seasons"></a>
    </div>

    </div>
    <div [class] = "'col-6'">

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ipsum ex iure doloremque qui tenetur, exercitationem odio similique quo facere aliquid voluptas distinctio, rerum beatae accusamus voluptate culpa repellendus saepe!
      fjghdkgfkhjlkfhjlhkgjgk;j

    </div>
    <h2>
      {{current.id}}
    </h2>
  </div>

